/*general*/

body {
    background-image: url("../images/white-waves.png");
}

nav {
    background: white;
}

.name {
    background: #4aaaa5;
    color: white;
    padding: 10px 20px 10px 20px;
    font-weight: bold;
}


/*index.html*/

#content {
    border: 1px solid #dddddd;
    background: white;
    color: #777777;
}

#row1 {
    border-bottom: 2px solid #dddddd;
}

#title_style {
    color: #4aaaa5;
    font-weight: bold;
    font-size: 25px;
}

img {
    margin: 20px;
}

#p1 {
    margin: 20px 0px 20px 0px;
}

#p2 {
    margin-left: 20px;
}

#p3 {
    margin: 20px 0px 20px 20px;
}


/*sticky footer with calc()*/

.main_container {
    min-height: calc(100vh - 70px);
}

.footer {
    height: 50px;
}

#band1 {
    height: 15px;
    background: #4aaaa5;
}

#band2 {
    height: 35px;
    background: gray;
    color: white;
    text-align: center;
}


/*portfolio*/